@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h1 {
  font-size: 2em; 
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em; 
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em; 
}

h6 {
  font-size: 0.67em; 
}

.codex-editor__redactor  {
  padding-bottom: 0px !important;
}